# Laravel
#vendor
/node_modules
/public/storage
/public/build
/storage/*.key
.env
.env.*.local
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache

# Laravel Telescope
/telescope

# Laravel Ignition
/ignition

# Laravel Mix / Vite
/public/hot

/.vite
vite.config.local.js

# Logs
/storage/logs/*.log
*.log
vite.config.jss
# Cache
bootstrap/cache/*.php
bootstrap/cache/*.json

# Compiled files
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
